.LoginPage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-form {
	text-align: center;
	border: 0.1rem solid black;
	width: 40vw;
	height: 60vw;
	padding: 1rem;
	@media (max-width: 600px) {
		width: 40vh;
		height: 55vh;
	}
	@media (min-width: 900px) {
		width: 35vw;
		height: 40vw;
	}
	.icon-brief {
		align-self: center;
		width: 8vw;
		height: 8vw;
	}
	.login-title {
		text-align: center;
	}
	label {
		font-weight: bold;
	}
	input[type="text"],
	input[type="password"] {
		width: 100%;
		border: none;
		border-bottom: 0.1rem solid #eee;
		margin: 0.5rem 0;
	}
	.button-submit {
		width: 100%;
		margin: 1rem 0;
		text-transform: uppercase;
		padding: 0.5rem;
		border: 0.1rem soild black;
		border-radius: 0.5rem;
		background-color: white;
		font-weight: bold;
		&:hover {
			cursor: pointer;
			background-color: black;
			color: white;
			border-color: white;
		}
	}
}
